<mat-drawer-container class="main-container h-100"
                      autosize>
  <mat-drawer #drawer
              class="main-sidenav"
              mode="side">
    <p class="px-3 pt-3">
      <mat-icon>sentiment_very_satisfied</mat-icon>
      Have fun!
    </p>

    <mat-nav-list>

      <mat-list-item (click)="logout()">
        Logout
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button
            color="none"
            (click)="drawer.toggle()">
      <mat-icon>vertical_split</mat-icon>
    </button>
  </mat-toolbar>

  <h1 style="text-align: center; top: 20px">
    Welcome to you TODO APP! </h1>

</mat-drawer-container>

