.main-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-sidenav {
  width: 200px;
  background-color: #eeeeee;
}

.main-header{
  background-color: #4443bb;
}
